<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/css/Estilos.css">
    <link rel="stylesheet" href="../resources/css/footer.css">
    <script src="../resources/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Servisoft</title>
</head>
<header>
    <a href="#" class="logo"><i class="fas fa-wine-glass"></i>
        Servisoft</a>
    <div id="menu-bar" class="fas fa-bars"></div>
    <nav class="navbar">
        <a href="main.html">inicio</a>
        <a href="#speciality">Carta </a>
        <a href="#order">Contacto</a>
        <a href="../index.html">Iniciar Sesión</a>
    </nav>
</header>
<section class="home" id="home">
</section>
<section class="speciality" id="speciality">
    <h1 class="heading"> Nuestra <span>carta</span> </h1>
    <div class="box-container">
        <div class="box">
            <img class="image" src="../resources/img/borgonanegra.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Borgoña Negra</h3>
                <h3>S/. 30.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/vinoseco.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Seco</h3>
                <h3>S/. 24.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/vinoTinto.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Tinto</h3>
                <h3>S/. 45.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/VinoItalia.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Italia</h3>
                <h3>S/. 76.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/MostoVerde.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Mosto Verde</h3>
                <h3>S/. 44.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/VinoManzanillo.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Manzanillo</h3>
                <h3>S/. 21.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/VinoArrope.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Arrope</h3>
                <h3>S/. 68.90</h3>
            </div>
        </div>
        <div class="box">
            <img class="image" src="../resources/img/BorgoñaBlanca.jpg" alt="">
            <div class="content">
                <img src="../resources/img/WineBottleAndGlass.png" alt="">
                <h3>Borgoña Blanca</h3>
                <h3>S/. 96.90</h3>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="order" id="order">
    <h1 class="heading"> <span>ordena</span> tu pedido </h1>
    <div class="row">
        <form id="formularioLS">
            <div class="inputBox">
                <input id="inpnom" type="text" placeholder="name">
                <input id="inpema" type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input id="inpnum" type="text" placeholder="number">
                <input id="inpfona" type="text" placeholder="food name">
            </div>
            <textarea placeholder="address" id="inpadr" cols="30" rows="10"></textarea>
            <button id="boton-guardar" value="order now" class="btn">Ordenar ahora</button>
        </form>
    </div>
</section>
<footer class="footer-07" align="center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading">
                    <a href="#" class="logo">Servisoft</a>
                </h2>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <p class="copyright">Elaborado por: 
                <i class="ion-ios-heart" aria-hidden="true" /> 
                <a href="https://github.com/Jesusf2003" target="_blank">Fernando Canales</a> | 2021
            </p>
        </div>
    </div>
    </footer>
<script src="../resources/js/localstorage.js"></script>
</body>
</html>